 .u-section-1 {
  min-height: 661px;
}

.u-section-1 .u-image-1 {
  height: 657px;
  object-position: 50% 19.23%;
  background-position: 50% 19.23%;
  margin-top: 2px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(49,38,91,0.4);
  filter: brightness(0.4);
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 321px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -391px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-3 {
  width: 458px;
  height: 358px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -354px auto 0;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 321px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -324px calc(((100% - 1140px) / 2) + -87px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: -336px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + -87px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + -138px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -358px;
    margin-right: calc(((100% - 720px) / 2) + -98px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + -87px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -332px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    width: 467px;
    height: 263px;
    margin-top: -333px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 360px;
    height: 281px;
    margin-top: -281px;
    margin-right: calc(((100% - 540px) / 2) + -38px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + -87px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 382px;
  }

  .u-section-1 .u-image-1 {
    height: 378px;
  }

  .u-section-1 .u-image-2 {
    width: 274px;
    height: 154px;
    margin-top: -212px;
  }

  .u-section-1 .u-image-3 {
    width: 238px;
    height: 186px;
    margin-top: -162px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 191px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -225px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  color: #ffffff !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  color: #ffffff !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 235px;
}

.u-section-2 .u-shape-1 {
  width: 1100px;
  height: 126px;
  margin: -71px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1041px;
  margin: -122px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 118px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 12px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 118px;
}

.u-section-2 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 1px 12px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 118px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 15px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 85px;
  width: 85px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: 37px 181px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 85px;
  width: 85px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: -85px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  height: 85px;
  width: 85px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: -85px auto 60px 181px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 107px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.6875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.6875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.6875rem;
    width: auto;
    margin-top: 17px;
    margin-bottom: -2px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 39px;
    margin-right: 78px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-shape-1 {
    height: 308px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -304px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-2 .u-shape-1 {
    height: 366px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -362px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 38px;
    margin-bottom: -6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 79px;
    margin-bottom: -47px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 100px;
    margin-bottom: -51px;
  }

  .u-section-2 .u-icon-1 {
    height: 42px;
    width: 42px;
    margin-top: -50px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    height: 42px;
    width: 42px;
    margin-top: -163px;
  }

  .u-section-2 .u-icon-3 {
    height: 42px;
    width: 42px;
    margin-top: -175px;
    margin-left: auto;
  }
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before,
.u-section-2 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  min-height: 344px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 598px;
  margin: 55px auto 0;
}

.u-section-3 .u-table-1 {
  width: 1224px;
  margin: 38px auto 60px;
}

.u-block-b7e2-49 {
  background-image: none;
  line-height: 1.6;
}

.u-block-b7e2-46 {
  border-style: solid;
}

.u-section-3 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-3 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.125rem;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
}

.u-section-3 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-5 {
  border-style: solid;
  line-height: 2;
}

.u-section-3 .u-table-cell-6 {
  background-image: none;
}

.u-section-3 .u-icon-1 {
  font-size: 1.75em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-3 .u-table-cell-7 {
  background-image: none;
}

.u-section-3 .u-icon-2 {
  font-size: 1.75em;
}

.u-section-3 .u-table-cell-8 {
  background-image: none;
}

.u-section-3 .u-icon-3 {
  font-size: 1.75em;
}

.u-section-3 .u-table-cell-9 {
  border-style: solid;
  line-height: 2;
}

.u-section-3 .u-table-cell-10 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-3 .u-icon-4 {
  font-size: 0.9723em;
}

.u-section-3 .u-table-cell-11 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-3 .u-icon-5 {
  font-size: 0.9723em;
}

.u-section-3 .u-table-cell-12 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-3 .u-icon-6 {
  font-size: 0.9723em;
}

.u-section-3 .u-table-cell-13 {
  border-style: solid;
  line-height: 2;
}

.u-section-3 .u-table-cell-14 {
  background-image: none;
}

.u-section-3 .u-icon-7 {
  font-size: 1.75em;
}

.u-section-3 .u-table-cell-15 {
  background-image: none;
}

.u-section-3 .u-icon-8 {
  font-size: 1.75em;
}

.u-section-3 .u-table-cell-16 {
  background-image: none;
}

.u-section-3 .u-icon-9 {
  font-size: 1.75em;
}

.u-section-3 .u-table-cell-17 {
  border-style: solid;
  line-height: 2;
}

.u-section-3 .u-table-cell-18 {
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
}

.u-section-3 .u-icon-10 {
  font-size: 0.9723em;
}

.u-section-3 .u-table-cell-19 {
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
}

.u-section-3 .u-icon-11 {
  font-size: 0.9723em;
}

.u-section-3 .u-table-cell-20 {
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
}

.u-section-3 .u-icon-12 {
  font-size: 0.9723em;
}

.u-section-3 .u-table-cell-21 {
  border-style: solid;
  line-height: 2;
}

.u-section-3 .u-table-cell-22 {
  font-size: 2.1875rem;
  line-height: 1;
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-table-cell-23 {
  font-size: 2.1875rem;
  line-height: 1;
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-table-cell-24 {
  font-size: 2.1875rem;
  line-height: 1;
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-table-cell-25 {
  border-style: solid;
  line-height: 2;
}

.u-section-3 .u-table-cell-26 {
  background-image: none;
  font-size: 2.1875rem;
}

.u-section-3 .u-table-cell-27 {
  background-image: none;
  font-size: 2.1875rem;
}

.u-section-3 .u-table-cell-28 {
  background-image: none;
  font-size: 2.1875rem;
}

.u-section-3 .u-table-cell-29 {
  border-style: solid;
  line-height: 2;
}

.u-section-3 .u-table-cell-30 {
  background-image: none;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-3 .u-table-cell-31 {
  background-image: none;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-3 .u-table-cell-32 {
  background-image: none;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-block-b7e2-35 {
  background-image: none;
}

.u-section-3 .u-image-1 {
  width: 605px;
  height: 270px;
  margin: 30px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    width: 940px;
  }

  .u-section-3 .u-table-cell-6 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-7 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-8 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-10 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-11 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-12 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-14 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-15 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-16 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-18 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-19 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-20 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-22 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-23 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-24 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-26 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-27 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-28 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-30 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-31 {
    border-style: solid;
  }

  .u-section-3 .u-table-cell-32 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-table-1 {
    width: 726px;
    margin-top: 37px;
    margin-right: calc(((100% - 720px) / 2) + -6px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 462px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-table-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-table-cell-18 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-table-cell-19 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-table-cell-20 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 344px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-table-1 {
    width: calc(((100% - 340px) / 2) + 652px);
    margin-top: 34px;
    margin-right: calc(((100% - 340px) / 2) + -312px);
  }

  .u-block-b7e2-49 {
    line-height: 1;
  }

  .u-section-3 .u-table-cell-5 {
    line-height: 1;
  }

  .u-section-3 .u-table-cell-9 {
    line-height: 1;
  }

  .u-section-3 .u-table-cell-13 {
    line-height: 1;
  }

  .u-section-3 .u-table-cell-17 {
    line-height: 1;
  }

  .u-section-3 .u-table-cell-18 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-table-cell-19 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-table-cell-20 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-table-cell-21 {
    line-height: 1;
  }

  .u-section-3 .u-table-cell-25 {
    line-height: 1;
  }

  .u-section-3 .u-table-cell-29 {
    line-height: 1;
  }

  .u-section-3 .u-image-1 {
    width: 424px;
    height: 186px;
    margin-top: 15px;
  }
}@font-face {
  font-family: 'Acrom-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Acrom-Medium.ttf);
}@font-face {
  font-family: 'Acrom-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Acrom-Regular.ttf);
}